@model Product

<form asp-action="DeleteModalCategory" asp-controller="home" method="post">
    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#delModalCategory-@Model.Id">
        Удалить категорию
    </button>


    <div class="modal fade" id="delModalCategory-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="delModalLabelCategory-@Model.Id" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="delModalLabelCategory-@Model.Id">Удалить категорию</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">

                    <p>Вы уверены что ходите удалить категорию?</p>
                    <div class="form-group">
                        <label asp-for="Category.Id" class="control-label">Выберите категорию:</label>
                        <select asp-for="Category.Id" asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))" class="form-control">
                            <option value="">Выберите категорию</option>
                        </select>
                    </div>
                    <input asp-for="Category.Id" class="d-none" />
                    
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Да" class="btn btn-light" />
                </div>
            </div>
        </div>
    </div>
</form>