@model Product

<form asp-action="deleteModal" asp-controller="home" method="post">
    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#delModal-@Model.Id">
        Удалить товар
    </button>


    <div class="modal fade" id="delModal-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="delModalLabel-@Model.Id" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="delModalLabel-@Model.Id">Удалить товар</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">

                    <p>Вы уверены что ходите удалить товар?</p>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Название товара</label>
                        <input type="text" asp-for="Name" class="form-control" readonly />
                    </div>
                    <input asp-for="Id" class="d-none" />
                    <input asp-for="CategoryId" class="d-none" />

                </div>
                <div class="modal-footer">
                    <input type="submit" value="Да" class="btn btn-light" />
                </div>
            </div>
        </div>
    </div>
</form>